.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	padding: 15px;
	background-color: #e8eceb;
}
.wrap-login{
    width: 660px;
    background: #fff;
    overflow: hidden; 
		justify-content: space-between;
		border-radius: 3px;
		 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.leftDesign{
	height: 400px;
    background-color: #59A5EA;
}
.cadre-login{
	    margin-left: 50px;
    margin-right: 50px;
		margin-top: 60px;
			text-align: center;
}
.cadre-login-right{
	margin-left: 50px;
    margin-right: 50px;
		margin-top: 123px;
	
}
.naslov-login{
font-size: 34px;
    text-align: center;
    color: #FDFDFD;
}
.naslov-login-poruka{
	font-size: 30px;
		text-align: center;
		font-weight: bold;
color: #1F1546;;
}
.form-control-login{
	line-height: 1.2;
    color: #686868;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 32px;
    border-radius: 3px;
    padding: 0px 0px 0 30px;
    border: 0px solid #ced4da;
}
.btn-login{
		margin-top: 23px;
    color: #fff;
		background-color: #59a5ea;
    border-color: #59a5ea;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    /* text-align: center; */
    padding-left: 30px;
    border-radius: 3px;
}
.btn-login:hover{
    background-color: #28a745;
    border-color: #28a745;
}
.login-img{
	  height: 177px;
   
}
.login-text{
	  font-size: 10px;
		color: white;
		padding-top: 15px;
}

.login100-pic img {
  max-width: 100%;
}
.naslov-login-ime{
	display: none;
}

@media (max-width: 768px) { 
	.leftDesign{
		display: none;
	}
	.cadre-login-right{
		margin-top: 50px;
	}
	.container-login100-form-btn{
		margin-bottom: 50px;
	}
	.naslov-login-ime{
		display: block;
		font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #59a5ea;
	}
	.naslov-login-poruka {
		font-size: 20px;
	}
 }














.messages {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  margin: 0 auto;
  width: 800px;
  height: 300px;
  overflow-y: scroll;
  border: 5px solid olivedrab;
}
