body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	padding: 15px;
	background-color: #e8eceb;
}
.wrap-login{
    width: 660px;
    background: #fff;
    overflow: hidden; 
		justify-content: space-between;
		border-radius: 3px;
		 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.leftDesign{
	height: 400px;
    background-color: #59A5EA;
}
.cadre-login{
	    margin-left: 50px;
    margin-right: 50px;
		margin-top: 60px;
			text-align: center;
}
.cadre-login-right{
	margin-left: 50px;
    margin-right: 50px;
		margin-top: 123px;
	
}
.naslov-login{
font-size: 34px;
    text-align: center;
    color: #FDFDFD;
}
.naslov-login-poruka{
	font-size: 30px;
		text-align: center;
		font-weight: bold;
color: #1F1546;;
}
.form-control-login{
	line-height: 1.2;
    color: #686868;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 32px;
    border-radius: 3px;
    padding: 0px 0px 0 30px;
    border: 0px solid #ced4da;
}
.btn-login{
		margin-top: 23px;
    color: #fff;
		background-color: #59a5ea;
    border-color: #59a5ea;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    /* text-align: center; */
    padding-left: 30px;
    border-radius: 3px;
}
.btn-login:hover{
    background-color: #28a745;
    border-color: #28a745;
}
.login-img{
	  height: 177px;
   
}
.login-text{
	  font-size: 10px;
		color: white;
		padding-top: 15px;
}

.login100-pic img {
  max-width: 100%;
}
.naslov-login-ime{
	display: none;
}

@media (max-width: 768px) { 
	.leftDesign{
		display: none;
	}
	.cadre-login-right{
		margin-top: 50px;
	}
	.container-login100-form-btn{
		margin-bottom: 50px;
	}
	.naslov-login-ime{
		display: block;
		font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #59a5ea;
	}
	.naslov-login-poruka {
		font-size: 20px;
	}
 }
 /*messages*/

 .background-left{
	  background-color: #24344B;
		
 }
 .framework-messenger{
	 display: block;
    margin-right: auto;
    margin-left: auto;
    width: 156px;
	
		font-size: 20px;
 }
.icon-users{
background-color: #44C9C2;
    text-align: center;
    width: 30px;
    border-radius: 5px;
		color: white;
		float: left;
}
.user-you{
	padding-left: 10px;
		color: white;
		font-weight: bold;
}
.search-bar-user{
	    margin-top: 15px;
    line-height: 1.0;
    color: #686868;
    display: block;
    background: #ffffff;
    height: 40px;
    border-radius: 20px;
    padding: 0px 0px 0 15px;
		border: 0px solid #ced4da;
		font-size: 15px;
}
.name-tria{
	font-weight: bold;
    color: #59A5EA;
    font-size: 25px;
		margin-top: 15px;
		padding-left: 20px;
}
.pn{
		padding-left: 0px !important;
		padding-right: 0px !important;
		/*background-color: #F7F7F7;*/
}
.header-messenger{
	    background-color: white;
	    border-bottom: 1px solid #E8ECEB;
}

.messenger-bottom{
    margin-right: auto;
    margin-left: auto;
		margin-bottom: 20px;
		padding-top: 6px;
   
}
.message{
    display: block;
    width: 100%;
    background: #ffffff;
    height: 44px;
    border-radius: 20px;
    padding: 0px 0px 0 30px;
    border: 0px solid #ced4da;
    font-size: 15px;
		border: 1px solid #e8e8e8;
		margin: auto;
	
}
.postion-bottom{
/*	position: absolute !important;
	bottom: 0;
	position: fixed;
    background: #f8f9fa;*/
}

.messenger {

    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: left;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    position: relative;
    display: -webkit-box;
    display: flex;
    background-color: #fafafa;
		border-radius: .25rem;
    overflow: scroll;
}


.search-bar-messenger{
	margin-top: 15px;
	line-height: 1.0;
	color: #686868;
	display: block;
	width: 200px;
	background: #ffffff;
	height: 40px;
	border-radius: 20px;
	padding: 0px 0px 0 30px;
	border: 0px solid #ced4da;
	font-size: 15px;
	border: 1px solid #e8e8e8;
	float: right;

}

@media (max-width: 767px) {
	.search-bar-messenger {
		margin-bottom: 10px;
    margin-right: auto;
		margin-left: auto;
		float: none;
	}
	.name-tria {
		text-align: center;
	}
	
 }
/*menu*/
@media (min-width: 768px) {
	.btn-toggle-nav{
		display: none;
	}
}

@media (max-width: 799px) {
	.btn-toggle-nav {
      width: 60px;
    height: 60px;
    background-color: #ffffff;
    background-image: url(http://localhost:3000/static/media/menu.87f2b25c.png);
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: center;
    cursor: pointer;
    left: 0;
    z-index: 101;
    position: absolute;
}
	.framework-messenger{
		
			font-size: 26px;
			    float: left;
    margin-left: 20px;
	}
	
	
 }
 @media (max-width: 992px) { 
	 .search-bar-user{
		padding: 0 0 0 5px;
	}
  }
	 
	.navbar-toggler{

		color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1)
	}

	@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
font-family: 'Poppins', sans-serif;
background: #FAFAFA;
}

p {
font-family: 'Poppins', sans-serif;
font-size: 1.1em;
font-weight: 300;
line-height: 1.7em;
color: #999;
}

a, a:hover, a:focus {
color: inherit;
text-decoration: none;
transition: all 0.3s;
}
a[data-toggle="collapse"] {
position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
content: '\e259';
display: block;
position: absolute;
right: 20px;
font-family: 'Glyphicons Halflings';
font-size: 0.6em;
}

a[aria-expanded="true"]::before {
content: '\e260';
}

.wrapper {
display: flex;
align-items: stretch;
}

#sidebar {
min-width: 250px;
max-width: 250px;
min-height: 100vh;
background: rgb(36, 52, 75);
color: #FFF;
transition: all 0.3s;
padding-top: 30px;
}
	#content { 
		width: calc(100% - 250px);
		/* padding: 40px; */
		
		transition: all 0.3s;
		display: flex;
    flex-direction: column;
	}
	#content>nav{
		background-color: #24344B;
	}	
#sidebar.active {
	margin-left: -250px;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -100%;
		z-index:300;
		width: 100%;
		max-width: none;
	}
	#content{
		width:100%;
		overflow: hidden;
	}
	#content>nav{
		z-index: 303;
	}
	#sidebar.active {
		margin-left: 0;
		min-width: calc(100% - 90px);
	}
	.w-100 .messenger-contener{
		display: none;
	}
	.w-100 .messenger-send{
		display: none;
	}
}

#sidebar .sidebar-header {
padding: 20px;
background: #6D7FCC;
}

#sidebar ul.components {
padding: 20px 0;
border-bottom: 1px solid #47748B;
}

#sidebar ul p {
color: #FFF;
padding: 10px;
}

#sidebar ul li a {
padding: 10px;
font-size: 1.1em;
display: block;
}
#sidebar ul li a:hover {
color: #7386D5;
background: #FFF;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
color: #FFF;
background: #6D7FCC;
}
ul ul a {
font-size: 0.9em !important;
padding-left: 30px !important;
background: #6D7FCC;
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #62BE51;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.width-row{
	width: 100%;
}
.menu-img{
	    height: 30px;
}
.btn-info{
	    background-color: #273449 !important;
    border-color: #273449 !important;
		    margin-top: 15px;
}
.navbar{
		 overflow: hidden;
    background-color: #6bc6c1 !important;
		position: relative;
    height: 80px;
		width: 100%;
		z-index:100;
		    border-bottom: solid 1px #e6e8ea;
}
.user-style{
	    font-size: 13px;
   margin-left: 10px;
    font-weight: bold;
    color: #9BA4AF;
}
.message-style{
		    font-size: 17px;
 
    margin-left: 10px;
    font-weight: bold;
    color: #525860;
}
.messenger-contener{
	    height: calc(100vh - 160px);
    overflow: scroll;
}

.messages-style{
    height: 56px;
    background: #f9f9f9;
    margin-bottom: 10px;
}
.user-name-messages{
	    font-size: 13px;
    color: #9BA4AF;
    padding-top: 6px;
}
.icon-users-messages{
    text-align: center;
    width: 39px;
    height: 41px;
    border-radius: 5px;
    color: white;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 7px;
    padding-top: 10px;
}
.text-user{
	    font-size: 18px;
    margin-bottom: 85px;
    padding-bottom: 14px !important;
    color: #525860;
}
